node_modules

prisma/database.sqlite
prisma/migrations
# Generated prisma files
models

public/img/admin
public/img/user
public/img/kasir

.turbo
dist
test
update

# Remove backup of .env file, when .env file is updated, that will create backup file
.env-backup