node_modules

prisma/database.sqlite
prisma/migrations
# Generated prisma files
models

public/img/admin
public/img/user
public/img/kasir

.turbo
dist
test
update

# Remove the comment in production
#.env